.ldsHeart_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

.ldsHeart {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    transform-origin: 40px 40px;
    transform: scale(0.5);
    opacity: .7;
}
.ldsHeart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #435293;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ldsHeart div:after,
.ldsHeart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #435293;
}
.ldsHeart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.ldsHeart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

